body {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black !important;
  
}
.head1 {
  font-family: 'Creepster', cursive !important;
  color: whitesmoke !important;
  font-weight: 200 !important;
}

.modal-body {
  display: flex;
  padding: 0;
  border-radius: 4rem;
  font-family: 'PT Sans', sans-serif;
  height: 618px;
  background-color: rgb(74, 73, 73) !important;
  color: white;
  font-weight: 100px;
}
.form-control,.modal-body input,.modal-body select.input-field,.modal-body input[type="password"]{
  background-color: rgb(74, 73, 73);
  color: white;
  font-weight: bolder;
  outline: none;
  box-shadow: 0 0 10px rgba(59, 60, 60, 0.2);
}
form-control:focus,.modal-body input:focus,.modal-body select.input-field:focus,.modal-body input[type="password"]:focus {
  background-color:rgb(74, 73, 73);
  border: 2px solid white;
}
.modal-content {
  border-radius: 4rem;
  width: 140%;
  -webkit-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
-moz-box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
box-shadow: -1px -2px 42px -19px rgba(0,0,0,0.74);
}
.modal-content h1, .modal-content h2, .modal-content h3 {
    text-align: center;
}
.modal-content h1 {
  font-size: 1.3em;
  text-transform: uppercase;
}

.modal-content h2 {
    font-size: 1.1em;
}
.modal-content h3 {
  font-size: .8em;
  letter-spacing: 2px;
}
form {
    font-size: .8em;
}
.column {
  flex: 50%;
  padding: 10px;
  height: 578px;
}

.column#main {
  flex: 75%;
  padding: 50px;
  margin-top: 30px;
  margin-left: 15px;
}

#secondary {
  background-color: #872341;
  border-radius: 0 4rem 4rem 0;
  text-align: center;
  color: whitesmoke;
}

#main .form-control {
  border-radius: 0;
  font-size: .9em;
}

.btn {
  text-transform: uppercase;
  border-radius: .15rem;
  width: 200px;
  padding: .150rem .75rem;
  margin: 30px auto;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 2px;
}

.btn-primary {
  border:5px solid #872341 !important ;
  background:#8E1616;
background: -moz-linear-gradient(left, #8E1616 0%, #872341 99%); 
background: -webkit-linear-gradient(left, #8E1616 0%,#872341 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #8E1616 0%,#872341 99%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c',GradientType=1 ); 
}

.btn-primary:hover {
  border-color: rgba( 255, 255, 255, 0);
}

#main .btn-primary {
  width: 100%;
}
#secondary .btn-primary {
  background: rgb(74, 73, 73);
  color:whitesmoke;
  border: none;
}
.modal-body label {
  margin-bottom: 0;
}

.sec-content {
  margin-top: 85%;
}

.modal .modal-dialog .modal-content {
  border-radius: 4rem;
  width: 140%;
  box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
}
.head1 {
  margin-bottom: 20px;
}
#counter {
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-align: center;
  font-family: 'Creepster', cursive !important;
}
#message {
  color: green;
  
font-weight: 400px;}

  


button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3d8b40;
}